.App {
  height: 100%;
}

.container {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

.main {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  display: flex;
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
}